.homeBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    transform: skewY(8deg);
    transform-origin: 100%;
    background-color: #ab3f3f;

    z-index: -1;
}
.intro {
 color: #FFFF;

}
.logoimage img {
    display: block;
    margin: 15px auto auto auto;
}

