
.form-container {
    text-align: center;
    display: block;
    z-index: 3;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
}
.close {
    position: absolute;
    right: 5%;
    width: 0%;
    margin: 0px;
}
